/*Page layout for desktop size screens*/

/*Navigation container*/
.navigation{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/*Main page content container*/
.main-page-content{
    display: grid;
    grid-template-areas: 
    "left center right";
    grid-template-columns: repeat(3, 1fr);

}

/*Blog page container*/
.blog-page-content{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.blog-entry{
    order: 1;
    text-align: start;
    max-width: 70%;
    padding: 0 5% 0 5%;
}

.blog-author{
    order: 2;
    margin: 80px 50px 0 0;
    width: 30%;
    max-height: 880px;
    padding: 0 5% 0 5%;
}

/*Footer container*/
.footer{
    display: flex;
    flex-direction: row;
}

/*Home page content container*/
.construction-page{
    grid-area: center;
    text-align: center;
}