.container{
    display: grid;
    width: auto;
    grid-template-columns: 80wv;
    grid-template-rows: 100px 75px 600px 150px;
    grid-template-areas: 
    "hd"
    "nav"
    "main"
    "ft";
    border: 2px solid yellow;
}

.box{
    border: 1px solid red;
}

.header{
    grid-area: hd;
}

.navigation{
    grid-area: nav;
    display: grid;
    grid-auto-rows: minmax(20px, auto);
}

.navigation-option{
    border: 1px dotted red;
    justify-self: center;
    width: 100%;
    text-align: center;
}