.container{
    display: grid;
    width: auto;
    grid-template-columns: 80wv;
    grid-template-rows: 160px minmax(25px, auto) minmax(500px,auto) minmax(100px, auto);
    grid-template-areas: 
    "hd"
    "nav"
    "main"
    "ft";
    /* border: 2px solid yellow; */
}

.box{
    /* border: 1px solid red; */
}

.header{
    font-size: 5em;
    grid-area: hd;
    text-align: center;
    padding: 3vh 0 0 0;
}

.navigation{
    grid-area: nav;
    display: grid;
    grid-auto-rows: minmax(20px, auto);
    align-items: center;
}

.navigation-option{
    /* border: 1px dotted red; */
    justify-self: center;
    width: 95%;
    text-align: center;
    background-color: #ffd7d9b2;
    /* border-radius: 10px; */
}

.navigation-option:hover{
    background-color: #ddadaf;
    border: none;
}

.footer{
    background-color: #f9f4f3;
    display: flex;
    flex-direction: column;
    /* border: 2px dotted purple; */
    align-items: center;
}

.footer-container{
    /* border: 1px double purple; */
    height: auto;
    width: 100%;
    text-align: center;
    margin: 10px;
}

.content{
    display: grid;
    grid-gap: 15px;
    grid-auto-rows: minmax(300px, auto);
    align-items: center;
}

.content-snippet{
    /* border: 1px dotted red; */
    justify-self: center;
    width: 300px;
    height: 370px;
    text-align: center;
    padding: 5vh;
}

.blog-card{
    justify-content: center;
    position: absolute;
    width: 300px;
}

.blog-card:hover{
    transform: scale(1.1) rotate(1deg);
    border: 1px double #b1b1b1;
    box-shadow: 5px 2px 2px #7d8092;
    padding: 10px;
}

.blog-page-content{
    display: flex;
    flex-direction: column;
    width: 75%;
    text-align: center;
    justify-self: center;
}


.blog-author{
    width: 25%;
    height: 250px;
    border: 1px solid green;
}