.container{
    display: grid;
    width: auto;
    grid-template-columns: 80wv;
    grid-template-rows: 160px minmax(25px, auto) minmax(1vh,auto) minmax(100px, auto);
    grid-template-areas: 
    "hd"
    "nav"
    "main"
    "ft";
}

/*Header container*/
.header{
    font-size: 5em;
    grid-area: hd;
    text-align: center;
    padding: 3vh 0 0 0;
}

/*Navigation container*/
.navigation{
    grid-area: nav;
    display: grid;
    grid-auto-rows: minmax(20px, auto);
    align-items: center;
}

.navigation-option{
    justify-self: center;
    width: 95%;
    text-align: center;
    background-color: #ffd7d9b2;
}

.navigation-option:hover{
    background-color: #ddadaf;
    border: none;
}

/*Footer container*/
.footer{
    background-color: #f9f4f3;
    display: flex;
    grid-area: ft;
    flex-direction: column;
    align-items: center;
}

.footer-container{
    height: auto;
    width: 100%;
    text-align: center;
    margin: 10px;
}

/*Home page content container*/
.main-page-content{
    display: grid;
    grid-area: main;
    grid-gap: 15px;
    grid-auto-rows: minmax(300px, auto);
    align-items: center;
    margin: 5px 0 50px 0;
}

.article{
    justify-self: center;
    width: 300px;
    height: 370px;
    text-align: center;
    padding: 5vh;
}

.blog-card{
    justify-content: center;
    width: 300px;
}

.blog-card:hover{
    transform: scale(1.1) rotate(1deg);
    border: 1px double #b1b1b1;
    box-shadow: 5px 2px 2px #7d8092;
    padding: 10px;
}

/*Blog page container*/
.blog-page-content{
    display: flex;
    flex-direction: column;
    width: 90%;
    text-align: center;
    justify-self: center;
}

.blog-entry{
    padding: 10px 0 20px 0;
}

.blog-author{
    width: auto;
    padding: 25px;
    margin: 30px 0 50px 0;
    text-align: center;
    transform: scale(1.1) rotate(1deg);
    border: 1px double #b1b1b1;
    box-shadow: 5px 2px 2px #7d8092;
}

/*Under construction page container*/
.construction-page{
    text-align: center;
}

