@import "structure.css";
@import "desktop-size.css" (min-width:901px);
@import "image-stylesheet.css";
@import "tablet-size.css" (min-width:600px) and (max-width:900px);
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Patrick+Hand&family=Rancho&family=Shadows+Into+Light&display=swap');


body{
    background-color: #fbfbfc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

p, a, span {
    line-height: 1.8;
}

h1{
    font-size: 3em;
    color: #464545;
    text-shadow: 1px 1px #7d8092;
}

h2{
    font-size: 2em;
    line-height: 120%;
    color: #eccfcf;
    text-shadow: 1px 1px #b1b3be;
}

h3{
    font-size: 1.5em;
    line-height: 110%;
    color: #515151;
}

h4{
    font-size: 1.4em;
    line-height: 110%;
}

a{
    text-decoration: none;
}

#blog-name{
    font-family: 'Love Ya Like A Sister', cursive;
}


a[id="nav"]{
    font-size: 1.2em;
    font-weight: 600;
    color: #515151;
    display: block;
    height: 100%;
}

a[id="nav"]:hover{
    color: #fff;
    font-weight: 600;
}

a[class="read-more"], a[class="home-link"]{
    text-decoration: none;
    color: inherit;
}

a[id=blog-link]:hover{
    background-color: #eccfcf;
    color: #fff;
}

a[id="about-me"], a[id="blank-page-link"]{
    background-color: #eccfcf;
    padding: 10px;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    border: 2px double #fff;
    outline: 1px solid #eccfcf;
    line-height: 500%;
}

a[id="about-me"]:hover, a[id="blank-page-link"]:hover{
    background-color: #fff;
    padding: 10px;
    font-weight: 700;
    color: #eccfcf;
    border-radius: 5px;
    border: 2px double #eccfcf;
    outline: 1px solid #fff;
    line-height: 500%;
}

button[id="subscribe-btn"]{
    background-color: #eccfcf;
    border: none;
    padding: 3px;
    cursor: pointer;
}

button[id="subscribe-btn"]:hover{
    color: #fff;
    font-weight: 600;
}

#blog-type{
    color: #66697a;
    font-size: 0.9em;
}

#blog-title{
    font-family: 'Shadows Into Light', cursive;
}

input[type=textbox]{
    color: #c3c4c5;
    width: 200px;
}

span[id="socmed"]{
    text-transform: uppercase;
}

a[class="socmed-link"]{
    background-color: #eccfcf;
    padding: 5px;
    text-decoration: none;
    color: #515151;
    opacity: 0.8;
}

a[class="socmed-link"]:hover{
    color: #fff;
    font-weight: 600;
}

span[id="author-name"]{
    font-family: 'Shadows Into Light', cursive;
}