/*Page layout for tablet size screens*/
.navigation{
    display: grid;
    grid-area: nav;
    width: auto;
    grid-auto-rows: minmax(25px, auto);
    grid-template-areas: 
    "topLeft topRight"
    "bottom bottom";
}

.footer{
    display: flex;
    flex-direction: row;
}
